



<footer class="footer-section">
  
    <div class="container">
      <div class="grid">
        <div id="w-node-c86794af-3772-71cf-e258-3397aa499cd3-da554e05" class="div-block-25">
          <h2 class="footer-heading footer-muted-head">Subscribe To Our Email List</h2>
        
          <div class="consultation-form w-form">
            {%- form "customer", class: "form-3" -%}<input type="hidden" name="contact[tags]" value="newsletter">
            <div class="form-block-container"><input type="email" class="email-field w-input" maxlength="256"
                name="customer[accepts_marketing] data-name=" Name 2" placeholder="Enter Your Email Address" id="name-2"><input
                type="submit" value="SUBMIT" data-wait="Please wait..." class="submit-button w-button"></div>
            <div class="checkbox-block"><label class="w-checkbox checkbox-field"></div>
            {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render
            "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
            <div class="success-message w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
              <div>Thank you! Your submission has been received!</div>
            </div>
            {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
              <div>{%- render "form-errors", form_errors: form_errors -%}</div>
            </div>{%- endunless -%}
          </div>
        </div>
        <div id="w-node-bd3f92c0-46d2-3589-2d3a-fb71da554e0a-da554e05" class="shop-ws-container">
          <h2 class="footer-heading footer-muted-head">Shopping With Us</h2>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="{{ pages["about-us"].url }}" class="footer-link">About Us</a>
            </li>
            <li>
              <a href="{{ pages["shipping-and-refund"].url }}" class="footer-link">Shipping Policy</a>
            </li>
            <li>
              <a href="{{ pages["return-policy"].url }}" class="footer-link">Return & Refund Policy</a>
            </li>
            <li>
              <div class="animation-wrapper-pc">
                <a href="{{ pages["b2b"].url }}" class="footer-link">For Businesses</a>
              </div>
            </li>
          </ul>
        </div>
        <div id="w-node-bd3f92c0-46d2-3589-2d3a-fb71da554e1f-da554e05" class="here-to-h-container">
          <h2 class="footer-heading footer-muted-head">Here to help</h2>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="{{ pages["contact-us"].url }}" class="footer-link">Contact Us</a>
              <a href="{{ pages["privacy-policy"].url }}" class="footer-link">Privacy Policy</a>
              <a href="{{ pages["terms-and-condition"].url }}" class="footer-link">Term &amp; Conditions</a>
              <a href="{{ pages[" terms-and-condition"].url }}" class="footer-link">FAQ'S</a>
            </li>
          </ul>
        </div>
        <div id="w-node-bd3f92c0-46d2-3589-2d3a-fb71da554e2d-da554e05" class="social-container">
          
          <h2 class="footer-heading footer-muted-head">Follow Us On</h2>
          <ul role="list" class="list-3 w-list-unstyled">
            <a href="https://www.instagram.com/bodhgemandcrystals/?hl=en" class="me-4 text-reset">
              <i class="fa-brands fa-instagram" style="color: #4f4f4f; font-size:20px; padding-right:0.8vw;"></i>
            </a>
            <a href="https://www.facebook.com/bodhgemandcrystals" class="me-4 text-reset">
              <i class="fa-brands fa-facebook" style="color: #4f4f4f; font-size:20px; padding-right:0.8vw;"></i>
            </a>
            <a href="https://www.pinterest.com/bodhgemandcrystals/" class="me-4 text-reset">
              <i class="fa-brands fa-pinterest"  style="color: #4f4f4f; font-size:20px; padding-right:0.8vw;"></i>
            </a>
           
            <a href="https://www.linkedin.com/company/bodh-gem-crystals/?originalSubdomain=in" class="me-4 text-reset">
              <i class="fa-brands fa-linkedin" style="color: #4f4f4f; font-size:20px;"></i>
            </a>
          
            
          </ul>
          
        </div>
          <div id="w-node-bd3f92c0-46d2-3589-2d3a-fb71da554e08-da554e05" class="image-container"><img
              src="//bodhgemandcrystals.com/cdn/shop/t/175/assets/footer_image.svg?v=72401000849097122661672306174" loading="lazy"
              width="250" alt="" class="footer-logo-image"></div>
       
        
        </div>
                   </div>


                 
  </footer>