
    <div class="grid-wrapper">
      <div class="_2-col-grid"><img src="{{ 'corporate_gifting_card_images_1366x.webp' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, 91vw" srcset="{{ 'corporate_gifting_card_images_1366x.webp' | asset_url }} 500w, {{ 'whatsapp-image-2022-08-08-at-5.03.53-PM-p-800.jpeg' | asset_url }} 800w, {{ 'corporate_gifting_card_images_1366x.webp' | asset_url }} 1080w" alt="" class="image-max-cover">
        <h1 id="w-node-_90c6013d-a5da-d3ba-ee9a-60a494b189a7-396d0257" class="heading-2 right-centred left-centered _3-5em">{{ section.settings.subsection_heading }}</h1>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","section space-10 wf-section");</script>
        
{% schema %}
{
  "name": "b2b-subsection",
  "tag": "div",
  "class": "section space-10 wf-section",
  "settings": [
    {
      "type": "text",
      "id": "subsection_heading",
      "label": "subsection-heading",
      "default": "ForEmployees"
    }
  ]
}
{% endschema %}