
      <div class="container">
        <div class="w-layout-grid _5-col-grid">
          <a id="w-node-_1142df18-0201-4fdb-76ce-f463cffa8d5a-cffa8d57" href="{{ section.settings.page_link }}" class="categorie-link border w-inline-block">
            <div class="categeory-image-container border em">{%- if section.settings.image_1 == nil -%}<img src="{{ '_gln9403.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 300px, 30vw" srcset="{{ '_gln9403-p-500.jpg' | asset_url }} 500w, {{ '_gln9403-p-800.jpg' | asset_url }} 800w, {{ '_gln9403-p-1080.jpg' | asset_url }} 1080w, {{ '_gln9403-p-1600.jpg' | asset_url }} 1600w, {{ '_gln9403-p-2000.jpg' | asset_url }} 2000w, {{ '_gln9403-p-2600.jpg' | asset_url }} 2600w, {{ '_gln9403-p-3200.jpg' | asset_url }} 3200w" alt="" class="image-max-cover">{%- else -%}<img src="{{ section.settings.image_1.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_1.alt | escape }}" class="image-max-cover" srcset="{{ section.settings.image_1 | img_url: '1920x' }} 1920w,{{ section.settings.image_1 | img_url: '1600x' }} 1600w,{{ section.settings.image_1 | img_url: '1366x' }} 1366w,{{ section.settings.image_1 | img_url: '1024x' }} 1024w,{{ section.settings.image_1 | img_url: '768x' }} 768w,{{ section.settings.image_1 | img_url: '640x' }} 640w">{%- endif -%}</div>
            <div class="categorie-content-wrapper">
              <h1 class="heading-4 center">{{ section.settings.title_1 }}</h1>
            </div>
          </a>
          <a id="w-node-_1142df18-0201-4fdb-76ce-f463cffa8d60-cffa8d57" href="{{ section.settings.page_link_2 }}" class="categorie-link border w-inline-block">
            <div class="categeory-image-container border em">{%- if section.settings.image_2 == nil -%}<img src="{{ '_gln9403.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 300px, 30vw" srcset="{{ '_gln9403-p-500.jpg' | asset_url }} 500w, {{ '_gln9403-p-800.jpg' | asset_url }} 800w, {{ '_gln9403-p-1080.jpg' | asset_url }} 1080w, {{ '_gln9403-p-1600.jpg' | asset_url }} 1600w, {{ '_gln9403-p-2000.jpg' | asset_url }} 2000w, {{ '_gln9403-p-2600.jpg' | asset_url }} 2600w, {{ '_gln9403-p-3200.jpg' | asset_url }} 3200w" alt="" class="image-max-cover">{%- else -%}<img src="{{ section.settings.image_2.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_2.alt | escape }}" class="image-max-cover" srcset="{{ section.settings.image_2 | img_url: '1920x' }} 1920w,{{ section.settings.image_2 | img_url: '1600x' }} 1600w,{{ section.settings.image_2 | img_url: '1366x' }} 1366w,{{ section.settings.image_2 | img_url: '1024x' }} 1024w,{{ section.settings.image_2 | img_url: '768x' }} 768w,{{ section.settings.image_2 | img_url: '640x' }} 640w">{%- endif -%}</div>
            <div class="categorie-content-wrapper">
              <h1 class="heading-4 center">{{ section.settings.title_2 }}</h1>
            </div>
          </a>
          <a id="w-node-_1142df18-0201-4fdb-76ce-f463cffa8d66-cffa8d57" href="{{ section.settings.page_link_3 }}" class="categorie-link border w-inline-block">
            <div class="categeory-image-container border em">{%- if section.settings.image_3 == nil -%}<img src="{{ '_gln9403.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 300px, 30vw" srcset="{{ '_gln9403-p-500.jpg' | asset_url }} 500w, {{ '_gln9403-p-800.jpg' | asset_url }} 800w, {{ '_gln9403-p-1080.jpg' | asset_url }} 1080w, {{ '_gln9403-p-1600.jpg' | asset_url }} 1600w, {{ '_gln9403-p-2000.jpg' | asset_url }} 2000w, {{ '_gln9403-p-2600.jpg' | asset_url }} 2600w, {{ '_gln9403-p-3200.jpg' | asset_url }} 3200w" alt="" class="image-max-cover">{%- else -%}<img src="{{ section.settings.image_3.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_3.alt | escape }}" class="image-max-cover" srcset="{{ section.settings.image_3 | img_url: '1920x' }} 1920w,{{ section.settings.image_3 | img_url: '1600x' }} 1600w,{{ section.settings.image_3 | img_url: '1366x' }} 1366w,{{ section.settings.image_3 | img_url: '1024x' }} 1024w,{{ section.settings.image_3 | img_url: '768x' }} 768w,{{ section.settings.image_3 | img_url: '640x' }} 640w">{%- endif -%}</div>
            <div class="categorie-content-wrapper">
              <h1 class="heading-4 center">{{ section.settings.title_3 }}</h1>
            </div>
          </a>
          <a id="w-node-_1142df18-0201-4fdb-76ce-f463cffa8d6c-cffa8d57" href="{{ section.settings.page_link_4 }}" class="categorie-link border w-inline-block">
            <div class="categeory-image-container border em">{%- if section.settings.image_4 == nil -%}<img src="{{ '_gln9403.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 300px, 30vw" srcset="{{ '_gln9403-p-500.jpg' | asset_url }} 500w, {{ '_gln9403-p-800.jpg' | asset_url }} 800w, {{ '_gln9403-p-1080.jpg' | asset_url }} 1080w, {{ '_gln9403-p-1600.jpg' | asset_url }} 1600w, {{ '_gln9403-p-2000.jpg' | asset_url }} 2000w, {{ '_gln9403-p-2600.jpg' | asset_url }} 2600w, {{ '_gln9403-p-3200.jpg' | asset_url }} 3200w" alt="" class="image-max-cover">{%- else -%}<img src="{{ section.settings.image_4.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_4.alt | escape }}" class="image-max-cover" srcset="{{ section.settings.image_4 | img_url: '1920x' }} 1920w,{{ section.settings.image_4 | img_url: '1600x' }} 1600w,{{ section.settings.image_4 | img_url: '1366x' }} 1366w,{{ section.settings.image_4 | img_url: '1024x' }} 1024w,{{ section.settings.image_4 | img_url: '768x' }} 768w,{{ section.settings.image_4 | img_url: '640x' }} 640w">{%- endif -%}</div>
            <div class="categorie-content-wrapper">
              <h1 class="heading-4 center">{{ section.settings.title_4 }}</h1>
            </div>
          </a>
        </div>
      </div>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","wf-section");</script>
        
{% schema %}
{
  "name": "section-festive-4img",
  "tag": "div",
  "class": "wf-section",
  "settings": [
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1",
      "default": "CRYSTAL RINGS"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2",
      "default": "CRYSTAL RINGS"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title 3",
      "default": "CRYSTAL RINGS"
    },
    {
      "type": "text",
      "id": "title_4",
      "label": "Title 4",
      "default": "CRYSTAL RINGS"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "image 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4"
    },
    {
      "type": "url",
      "id": "page_link",
      "label": "page link"
    },
    {
      "type": "url",
      "id": "page_link_2",
      "label": "page link 2"
    },
    {
      "type": "url",
      "id": "page_link_3",
      "label": "page link 3"
    },
    {
      "type": "url",
      "id": "page_link_4",
      "label": "page link 4"
    }
  ]
}
{% endschema %}