
    <div class="_4-col-grid _6em-padding">
      <a id="w-node-_2eb0dbcd-76ce-5629-97cc-b5a254a12085-54a12083" href="#" class="w-inline-block">
        <div class="b2b-card">{%- if section.settings.image_1 == nil -%}<img src="{{ 'raw-cluster.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 20vw, 21vw" srcset="{{ 'raw-cluster-p-500.jpeg' | asset_url }} 500w, {{ 'raw-cluster.jpg' | asset_url }} 738w" alt="" class="image-max-cover contain">{%- else -%}<img src="{{ section.settings.image_1.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_1.alt | escape }}" class="image-max-cover contain" srcset="{{ section.settings.image_1 | img_url: '1920x' }} 1920w,{{ section.settings.image_1 | img_url: '1600x' }} 1600w,{{ section.settings.image_1 | img_url: '1366x' }} 1366w,{{ section.settings.image_1 | img_url: '1024x' }} 1024w,{{ section.settings.image_1 | img_url: '768x' }} 768w,{{ section.settings.image_1 | img_url: '640x' }} 640w">{%- endif -%}</div>
      </a>
      <a id="w-node-_2eb0dbcd-76ce-5629-97cc-b5a254a12088-54a12083" href="#" class="w-inline-block">
        <div class="b2b-card">{%- if section.settings.image_2 == nil -%}<img src="{{ '5fbe7595858e81c3606ab8b2_treeheroo-p-500.jpeg' | asset_url }}" loading="lazy" alt="" class="image-max-cover contain">{%- else -%}<img src="{{ section.settings.image_2.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_2.alt | escape }}" class="image-max-cover contain" srcset="{{ section.settings.image_2 | img_url: '1920x' }} 1920w,{{ section.settings.image_2 | img_url: '1600x' }} 1600w,{{ section.settings.image_2 | img_url: '1366x' }} 1366w,{{ section.settings.image_2 | img_url: '1024x' }} 1024w,{{ section.settings.image_2 | img_url: '768x' }} 768w,{{ section.settings.image_2 | img_url: '640x' }} 640w">{%- endif -%}</div>
      </a>
      <a id="w-node-_2eb0dbcd-76ce-5629-97cc-b5a254a1208b-54a12083" href="#" class="w-inline-block">
        <div class="b2b-card">{%- if section.settings.image_3 == nil -%}<img src="{{ 'stackable-bracelet.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 20vw, 21vw" srcset="{{ 'stackable-bracelet-p-500.jpeg' | asset_url }} 500w, {{ 'stackable-bracelet-p-800.jpeg' | asset_url }} 800w, {{ 'stackable-bracelet.jpg' | asset_url }} 942w" alt="" class="image-max-cover contain">{%- else -%}<img src="{{ section.settings.image_3.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_3.alt | escape }}" class="image-max-cover contain" srcset="{{ section.settings.image_3 | img_url: '1920x' }} 1920w,{{ section.settings.image_3 | img_url: '1600x' }} 1600w,{{ section.settings.image_3 | img_url: '1366x' }} 1366w,{{ section.settings.image_3 | img_url: '1024x' }} 1024w,{{ section.settings.image_3 | img_url: '768x' }} 768w,{{ section.settings.image_3 | img_url: '640x' }} 640w">{%- endif -%}</div>
      </a>
      <a id="w-node-_2eb0dbcd-76ce-5629-97cc-b5a254a1208e-54a12083" href="#" class="w-inline-block">
        <div class="b2b-card">{%- if section.settings.image_4 == nil -%}<img src="{{ 'crystall_balls.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 20vw, 21vw" srcset="{{ 'crystall_balls-p-500.jpeg' | asset_url }} 500w, {{ 'crystall_balls.jpg' | asset_url }} 740w" alt="" class="image-max-cover contain">{%- else -%}<img src="{{ section.settings.image_4.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_4.alt | escape }}" class="image-max-cover contain" srcset="{{ section.settings.image_4 | img_url: '1920x' }} 1920w,{{ section.settings.image_4 | img_url: '1600x' }} 1600w,{{ section.settings.image_4 | img_url: '1366x' }} 1366w,{{ section.settings.image_4 | img_url: '1024x' }} 1024w,{{ section.settings.image_4 | img_url: '768x' }} 768w,{{ section.settings.image_4 | img_url: '640x' }} 640w">{%- endif -%}</div>
      </a>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","section wf-section");</script>
        
{% schema %}
{
  "name": "section-4-image",
  "tag": "div",
  "class": "section wf-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "image 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "image 4"
    }
  ]
}
{% endschema %}